
.navbar {
  .navbar-nav {
    flex-direction: row;

    .nav-item {
      margin: 0px 10px;
    }
  }
}

.user-card, .profile-card {
    margin-top: 60px;

    .user-image {
        width: 120px;
        border-radius: 60px;
        margin-top: -60px;
    }
}

.user-card {
    height: calc(100% - 60px);
}
